name: Build APK

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - run: unzip whisperIMEplus-master-MODIFIED.zip

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - run: chmod +x whisperIMEplus-master-MODIFIED/gradlew

      - run: cd whisperIMEplus-master-MODIFIED && ./gradlew assembleDebug

      - uses: actions/upload-artifact@v4
        with:
          name: whisperIMEplus-apk
          path: whisperIMEplus-master-MODIFIED/app/build/outputs/apk/debug/*.apk
